# Try to limit massive files.
*.nc
*.swp
*.swo
*.h5
*.bz2
*.gz
*.zip
.nfs*
.directory
*~
*.mat
*.log
*.pyc
*.dat
*.pk1
*.npz
*.npy
*.csv
*.14
*.exe
*.pk
*.ogg
*.wmv
*.pptx
*.html
*.aux
*.odt

#*.cfg
# Directories


# Figures
*.png
*.tif
*.pdf

# Videos
*.avi
*.mp4
*.ogv
# Tar Rar files
*.rar
*.tar


# Stuff which feels like it should never be added.
# you can also add them in .git/info/exclude for your local repository
secrets.txt
